@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
@font-face {
  font-family: 'ArabicTitle';
  src: url('fonts/alfont_com_KAHandNaskhV2-Regular.ttf');
}

@font-face {
  font-family: 'GeneralArabicFont';
  src: url('fonts/janna_LT_bold.ttf');
}

@font-face {
  font-family: 'GeneralArabicFont2';
  src: url('fonts/KAF-AREF-RUQAA-TITL-SW-.otf');
}

@theme {
 --color-dark1: rgba(24,24,24,1);
 --color-whiteText: rgba(225,225,225);
 --color-cardColor-dark: rgba(50, 50, 50, 1);
 --color-card-Color-white: rgba(225,225,225,0.4);
 --color-card2-Color-purple: rgba(100,100,200,0.4);
 --color-purple-Color: rgba(100,100,250,0.4);
 --color-card3-Color-dark: rgba(30, 30, 30, 1);
 --color-card3-Color-white: rgb(227 227 227 / 10%);
}

.CarouselTitle{
    font-family: 'GeneralArabicFont2';
}
body{
    font-family: GeneralArabicFont;
    
}

@layer utilities {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }

  .fadeup-animation { 
    animation: appear ;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
  }
  
}

@keyframes appear {
  from{
    opacity: 0;
    transform: translateX(10px) scale(0.5);
    filter: blur(50px);
  }
  to{ 
    opacity: 1;
    transform: translateX(0) scale(1);
    filter: blur(0px);
  }
}